@import "../../../../assets/scss/abstracts/abstracts-dir.scss";
.product-card {
    .card-body {
        .card-title {
            margin: 0;
            font-size: 1.125rem;
        }
        .table{
            tr{
                td{
                    strong{
                        font-size: .875rem;
                    }
                }
            }
        }
        .updated-text{
            font-size: 14px;
        }
        .text-total{
            color: #02cbfe;
        }
    }
}
