@import "../../assets/scss/abstracts/abstracts-dir.scss";
.auth-layout {


  .login,
  .image {
    min-height: 100vh;
  }

  .bg-image {
    background-image: url("https://static.e-box.co.in/static/images/online/slider/slide-1.png");
  background-color: #7952b3;
    background-repeat: no-repeat;
    // font-size: 40px;
    // color: #fff;
    // justify-content: center;
    // align-items: center;
  }

  .login-heading {
    font-weight: 300;
  }
}
