@import '../../../../assets/scss/abstracts/abstracts-dir.scss';
 .Select__menu-list {
   max-height: 200px !important;
 }

 select {
   -webkit-appearance   : none;
   -moz-appearance      : none;
   background           : transparent;
   background-image     : url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
   background-repeat    : no-repeat;
   background-position-x: 100%;
   background-position-y: 5px;
   .Select__indicator-separator.css-1okebmr-indicatorSeparator{
     display: none;
   }
 }

 .mat-tab {
      border-bottom: 2px solid #dee2e6 !important;
     .nav-item {
      margin-bottom: -2px;
         display      : block;
     padding      : 0.5rem 1rem;
cursor: pointer;
     &.active {
       background-color: unset;
       border          : none;
       color: $primary-bg;
       border-bottom: 1px solid;
       cursor: default;

     }
   }
 }